

body{
	background-color: #fff;
	font-family: "Roboto", sans-serif;
	color: #272221;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	margin-top: 0;
	margin: 0;
    padding: 0;
    overflow-x: hidden; 


}

p{
	margin: 0;
}

h1{
	font-family: "Bebas Neue", sans-serif;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 100px;
	width: 60%;
	padding-left: 20px;
}

h2{
	font-family: "Bebas Neue", sans-serif;
	color: #183557;
	font-size: 60px;
	margin-top: 0;
	padding-top: 40px;
}

h5{
	text-align: center;
	font-weight: 600;
	color: #000000;
}

li{
    list-style-type: none;
}



a{
	text-decoration: none;
	color: #FFFFFF;

}

a:hover, a:active{
	text-decoration: none;
	outline: 0;
	color: #D87B0E;
}

.vl{
	margin-top: 55px;
	border-left: 7px solid white;
	margin-left: 10%;
}

.homepage{
	background-image: url(img/main.png);
	height: 110vh;
}

.navbar-brand{
	font-family: "Uni Sans", sans-serif;
	color: #FFFFFF;
	font-size: 30px;

}

.container-fluid{
	padding: 0;
}

.navbar{
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5%;
	padding-left: 5%;
}

.navbar-inverse{
	background: #2d2d2d;
	border-color: #2d2d2d;
}

.navbar-toggler{
	color: #ffffff;
}
.navbar-dark{
	color: #ffffff;
}

.navbar-nav > li{
  padding-left:25px;
  padding-right:25px;
  padding-top: 20px;
  align-items: right;

}

.card-img{
	height: 100%;
	width: 100%;
}
.choose_b{
	width: 60%;
	align-items: center;
	text-align: center;
}

.choose{
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	color: #FFFFFF;
	background: transparent;
	font-size: 18px;
	padding: 10px;
	margin-top: 30px;
	align-items: center;
	text-align: center;
}

a.choose:hover{
	color: #000000;
}

.about{
	background-color: #FFFFFF;
	text-align: center;

}

.card{
padding-left: 5%;
padding-right: 5%;
	border: none;
	margin-top: 50px;
}

.card-text{
	
	text-align: center;
}

.fourth-card-image{
width: 60%;
height: 60%;
align-items: right;
text-align: right;
}

.first.col-md-7{
	background-image: url("img/01.png");
	background-repeat: no-repeat;
	background-size: 25% 50%;
}

.col-md-5{
	align-items: center;
	text-align: center;
}

.second.col-md-7{
	background-image: url("img/02.png");
	background-repeat: no-repeat;
	background-size: 25% 50%;
	background-position: center top;
}

.third.col-md-7{
	background-image: url("img/03.png");
	background-repeat: no-repeat;
	background-size: 25% 50%;
	background-position: center top;
}

.fourth.col-md-7{
	background-image: url("img/04.png");
	background-repeat: no-repeat;
	background-size: 25% 50%;
	background-position: right;
}


.main-quote{
	font-style: italic;
	font-weight: 600;
	font-size: 28px;
	color: #FFFFFF;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 26px;
}

.quote-author{
	text-align: right;
	color: #FFFFFF;
	font-weight: normal;
	padding-right: 10%;
	padding-bottom: 26px;

	font-size: 24px;
	font-style: italic;
}

.quote{
	background-image: url("img/icommas.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #0D70A0;
}
.row{
	margin-left: 4%;
	margin-right: 3%;

}

.row >*{
	padding: 0;
}
.vertical-card{
	background-color: #183557;
	color: #ffffff;
	align-items: center;
	margin-top: 30px;
	margin-right: 8%;
	margin-bottom: 30px;

	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	
}

.learn{
	color: 272221;
	text-decoration: underline;
}
.view.overlay{
	width: 100%;
	margin:0;
	padding: 0;
}

.card-img-top{
	width: 100%;
}
.vertical-card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transition: -webkit-box-shadow .3s ease-in-out;
}

.imonths{
	margin-right: 10px;
}

.card-contents{
	font-weight: 600;
	margin-top: 20px;
}

hr{
	border: 2px solid #D87B0E;
	opacity: 1;
}
.contact-card{
	padding-left: 5%;
padding-right: 5%;
	border: none;
	margin-top: 50px;
	background-color: #ffffff;
}

.contacts{
	background-color: #ffffff;
}

.apply-button{
	margin-top: 25px;
	width: 80%;
	background-color: #D87B0E;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	font-weight: 800;
	font-family: "PT Sans", sans-serif;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.apply-button:hover{
	transition: -webkit-box-shadow .3s ease-in-out;
	background-color: #D99A4F;
}

.apply-button:active{
	transition: -webkit-box-shadow .3s ease-in-out;
	background-color: #7E4807;
}

.card-title2{
	color: #ffffff;
	font-family: "PT Sans", sans-serif;
	font-size: 28px;
	font-weight: 600;
}

iframe{
	margin-top: 20px;
	width: 70%;
}

.programs{
	background-color: rgba(13, 112, 160, 0.1);
	text-align: center;
	padding-bottom: 50px;
	align-items: center;
	align-content: center;
	background-image: url("img/training.png")
	background-repeat: none;
	background-position: center;
}

.gallery{
	padding-bottom: 50px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D87B0E;
  color: white;
  text-align: center;
}

.ifooter{
	margin-right: 10px;
	padding: 20px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.icontacts{
	margin-right: 10px;
}

.contacts{
	text-align: center;
	align-items: center;
}

.contact-contents{
	margin-top: 30px;
	text-decoration: underline;
	text-align: center;
	align-items: center;
}

.contact-contents-light{
	margin-top: 15px;
	text-decoration: none;
	text-align: center;
	align-items: center;
}
.bounce {
  position:relative;
  left:50%;
  bottom:0;
  margin-top:40px;
  height:50px;
  width:50px;
background: url('https://static1.squarespace.com/static/5e78f290575a6321739eba41/t/5ec8625c6dad0e25fa5a8234/1590190684880/Arrow.png');
  background-size: 100% auto;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -o-animation:bounce 1s infinite;
  animation:bounce 1s infinite;

}

@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

@media (max-width: 990px ) {
  nav.navbar {
    background: #000;
    margin-right: 0;
	margin-left: 0;
  }

  h1{
  	font-size: 60px;
  }

.choose_b{
	width: 100%;
}

.homepage{
	height: 70vh;
}

}

@media (max-width: 490px ) {
 

.homepage{
	height: 100vh;
}

h1{
  	font-size: 46px;
  }

.choose{
	font-size: 12px;
}

}

@media (max-width: 637px ) {
 

.homepage{
	height: 75vh;
}

}

@media (max-width: 622px ) {
 

.homepage{
	height: 100vh;
}

}

img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }
